# Notebook Instructions

1. All the <u>code and data files</u> used in this course are available in the downloadable unit of the <u>last section of this course</u>.
2. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
3. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

This course is based on specific versions of python packages. You can find the details of the packages in <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank" >this manual</a>.

# Tuples

Tuple is an immutable list. Similar to lists a tuple can contain a heterogeneous sequence of elements but it is not possible to append, edit or remove any individual elements within a tuple.

## Creating tuples
Tuples are enclosed in parenthesis and the items within them are separated by commas.

In [1]:
new_tup = ()  # Empty Tuple
type(new_tup)

tuple

In [2]:
new_tup = (10, 20, 30, 40)  # A tuple of integers
type(new_tup)

tuple

In [3]:
new_tup = (10, 20.2, 'thirty', 40)  # A tuple of mixed data type
type(new_tup)

tuple

tuple

In [4]:
new_tup = ((10, 20, 30), (10.1, 20.2, 30.3),
           ("ten", "twenty", "thirty"))  # A nested tuple
type(new_tup)

tuple

In [5]:
new_tup = (10, (20.2, ("thirty", (40))))  # A deeply nested tuple
type(new_tup)

tuple

## Can we manipulate a tuple?

There are no methods supported by tuples that can help us manipulate a tuple once formed. Tuple does not even support assigning a new item at any particular index.

In [6]:
# This is the 'original' tuple which you have created
my_tup = (10, 20, 30, 40)

print(my_tup)

(10, 20, 30, 40)

In [7]:
my_tup[0]  # Returning the item at the 0th index

10

In [8]:
my_tup[0] = "40"  # Assigning a new item to the 0th index

TypeError: 'tuple' object does not support item assignment

In [9]:
# Trying to Append '50' at the 4th index of the created tuple.
my_tup.append(50)

AttributeError: 'tuple' object has no attribute 'append'

But we can certainly find the length of a tuple.

<b>len</b> (x) <br>
It returns the length of the tuple.

In [10]:
len(my_tup)

4

# Sets

A set is an unordered collection with no duplicate elements. They are useful to create lists that hold only unique values and are also mutable. The elements of a set can be anything like numbers, strings or characters.

## Creating & printing sets
Curly braces or the set () function can be used to create sets and the items within them are separated by commas.

In [11]:
new_set = {}  # Empty Set ---> An empty set cannot be created
type(new_set)

dict

In [12]:
new_set = {'Neo', 'Morphius', 'Trinity', 'Agent Smith', 'Oracle'}  # A new set
type(new_set)

set

In [13]:
print(new_set)

{'Neo', 'Trinity', 'Agent Smith', 'Oracle', 'Morphius'}

In [14]:
# Now there are 5 'Agent Smiths' in our set. What will happen if we print this set?

new_set = {'Neo', 'Morphius', 'Trinity', 'Agent Smith',
           'Agent Smith', 'Agent Smith', 'Agent Smith', 'Oracle'}

print(new_set)  # The set will only print unique values

{'Neo', 'Trinity', 'Agent Smith', 'Oracle', 'Morphius'}

In [15]:
# Using the set () function to create sets

x_set = set('THEMATRIX')

type(x_set)

set

In [16]:
print (x_set) # 'THE MATRIX' has two 'T's. Only unique values will be printed.

{'H', 'M', 'A', 'R', 'E', 'T', 'X', 'I'}

In [17]:
# An additional example

y_set = set('THETERMINATOR')

print(y_set)

{'H', 'M', 'A', 'R', 'E', 'T', 'O', 'N', 'I'}

## Set operations

You can even perform mathematical operations like set union, set intersection, set difference and symmetric difference amongst different datasets.

In [18]:
# We will create 2 new sets. The 'x_set' and the 'y_set'.

x_set = set('ABCDE')
y_set = set('CDEFG')

print(x_set)
print(y_set)

{'B', 'D', 'C', 'A', 'E'}
{'D', 'F', 'C', 'G', 'E'}

<b> x.union(y) </b> <br>
This method returns all the unique items that are present in the two sets, as a new set.

In [19]:
x_set.union(y_set)

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [20]:
x_set | y_set  # Union can be performed by using the pipe '|' operator also

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

<b> x.intersection(y) </b> <br>
This method returns the common items that are present in two sets, as a new set.

In [21]:
x_set.intersection(y_set)

{'C', 'D', 'E'}

In [22]:
x_set & y_set  # Intersection can be performed by using the ampersand '&' operator

{'C', 'D', 'E'}

<b> x.difference(y) </b> <br>
This method returns the items of 'set 1' which are not common (repetitive) to the 'set 2', as a new set.

In [23]:
x_set.difference(y_set)

{'A', 'B'}

In [24]:
x_set - y_set  # Difference can be performed using the minus '-' operator

{'A', 'B'}

<b> difference_update () </b> <br>
This method removes all the elements of 'set 2' common to 'set 1' in 'set1'. It updates 'set 1'.

In [25]:
x_set.difference_update(y_set)

print(x_set)
print(y_set)

{'B', 'A'}
{'D', 'F', 'C', 'G', 'E'}

In [26]:
x_set = set('ABCDE')
y_set = set('CDEFG')

# Difference update can be abbreviated in the shown manner i.e. 'x = x-y'
x_set = x_set - y_set

print(x_set)
print(y_set)

{'B', 'A'}
{'D', 'F', 'C', 'G', 'E'}

<b>x.isdisjoint(y)</b> <br>
This method returns True if two sets have null intersection.

In [27]:
x_set = set('ABCDE')
y_set = set('CDEFG')

x_set.isdisjoint(y_set)

False

In [28]:
x_set = set('ABC')
y_set = set('EFG')

x_set.isdisjoint(y_set)

True

<b>y.issubset(x)</b> <br>
This method returns True for 'Set 2', if all the elements of 'Set 2' are present in 'Set 1'

In [29]:
x_set = set('ABCDE')
y_set = set('CDEFG')

y_set.issubset(x_set)

False

In [30]:
x_set = set('ABCDE')
y_set = set('CDE')

y_set.issubset(x_set)

True

In [31]:
y_set < x_set  # One can check a subset using a less than '<' operator.

True

<b>x.issuperset(y)</b><br>
This method returns True for 'Set 1' if all the elements of Set 2 are present in 'Set 1'.

In [32]:
x_set = set('ABCDE')
y_set = set('CDEFG')

x_set.issuperset(y_set)

False

In [33]:
x_set = set('ABCDE')
y_set = set('CDE')

x_set.issuperset(y_set)

True

In [34]:
x_set > y_set  # One can check a superset using a greater than '>' operator.

True

<b>x.add(e)</b> <br>
It adds a single item to the set and updates the set.

In [35]:
x_set = set('ABCDE')

print(x_set)

{'B', 'D', 'C', 'A', 'E'}

In [36]:
x_set.add('FGH')

print(x_set)

{'B', 'D', 'C', 'A', 'FGH', 'E'}

<b> x.discard(e)</b> <br>
It removes a single item from the set and updates it.

In [37]:
print(x_set)

{'B', 'D', 'C', 'A', 'FGH', 'E'}

In [38]:
x_set.discard('FGH')

print(x_set)

{'B', 'D', 'C', 'A', 'E'}

<b> x.pop () </b> <br>
It pops and returns any arbitrary item from the set.

In [39]:
print(x_set)

{'B', 'D', 'C', 'A', 'E'}

In [40]:
x_set.pop()

'B'

<b> x.copy () </b> <br>
It creates a shallow copy of any set.

In [41]:
# There are only 4 items in the set, since one just got popped in the above cell execution.
print(x_set)

{'D', 'C', 'A', 'E'}

In [42]:
x_set.copy()

{'A', 'C', 'D', 'E'}

<b> x.clear() </b> <br>
It clears all the items of the set.

In [43]:
print(x_set)

{'D', 'C', 'A', 'E'}

In [44]:
x_set.clear()

print(x_set)

set()

This is where we will end this section on Data Structures. In the next section, we will learn how to import and visualise time series data. <br><br>