## Data Loaing, Storage and File Formats

In [1]:
import pandas as pd
import numpy as np
pd.read_csv('examples/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [3]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','message'])

    a   b   c message
1   2   3   4   hello
5   6   7   8   world
9  10  11  12     foo

In [4]:
names = ['a','b','c','d','message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [5]:
pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [6]:
list(open('examples/ex3.csv'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491']

In [7]:
# Using Regex '\s+' (spaces) as separator
pd.read_csv('examples/ex3.csv', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [8]:
print(list(open('examples/ex4.csv')))
# Skip specified rows
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

['# hey!\n', 'a,b,c,d,message\n', '# just wanted to make things more difficult for you\n', '# who reads CSV files with computers, anyway?\n', '1,2,3,4,hello\n', '5,6,7,8,world\n', '9,10,11,12,foo']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# Missing values NA/NULL in csv
df = pd.read_csv('examples/ex5.csv')
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [10]:
pd.isnull(df)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [11]:
# Specify missing values as list
pd.read_csv('examples/ex5.csv', na_values=['NA'])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [12]:
# Specify missing values as dictionary
null_dict = {'message': ['NA', 'foo'], 'something':['two']}
pd.read_csv('examples/ex5.csv', na_values=null_dict)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [13]:
pd.options.display.max_rows = 10

In [14]:
df = pd.DataFrame(np.random.random((10000, 4)), columns=['one', 'two', 'three', 'four'])
df['key'] = np.random.randint(65, 90, df.shape[0])
# Create csv file using dataframe
df.to_csv('examples/ex6.csv')

In [15]:
# Read only N rows
pd.read_csv('examples/ex6.csv', nrows=5, index_col=0)

        one       two     three      four  key
0  0.790043  0.619867  0.758078  0.515539   66
1  0.784543  0.890593  0.630903  0.727559   67
2  0.942457  0.228601  0.940639  0.412977   68
3  0.532041  0.999157  0.304427  0.545741   70
4  0.043699  0.923974  0.455233  0.630208   75

In [16]:
# Read 200 lines at a time
chunker = pd.read_csv('examples/ex6.csv', chunksize=200, index_col=0)

tot = pd.Series([], dtype='float64')
for piece in chunker:
    if len(tot) == 0:
        print(piece)
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot

          one       two     three      four  key
0    0.790043  0.619867  0.758078  0.515539   66
1    0.784543  0.890593  0.630903  0.727559   67
2    0.942457  0.228601  0.940639  0.412977   68
3    0.532041  0.999157  0.304427  0.545741   70
4    0.043699  0.923974  0.455233  0.630208   75
..        ...       ...       ...       ...  ...
195  0.415429  0.786877  0.083673  0.700252   89
196  0.163682  0.339249  0.091235  0.228234   71
197  0.861258  0.137527  0.046028  0.069630   76
198  0.737852  0.507849  0.965309  0.347369   70
199  0.855187  0.419923  0.559219  0.460956   74

[200 rows x 5 columns]

70    440.0
83    438.0
67    430.0
76    425.0
68    419.0
      ...
78    376.0
89    373.0
88    370.0
79    369.0
72    361.0
Length: 25, dtype: float64

## Writing Data

In [17]:
data = pd.read_csv('examples/ex5.csv')
import sys
# Write to shell output
data.to_csv(sys.stdout, na_rep='Null')

,something,a,b,c,d,message
0,one,1,2,3.0,4,Null
1,two,5,6,Null,8,world
2,three,9,10,11.0,12,foo

In [18]:
# Ignore Index and Header
data.to_csv(sys.stdout, na_rep='Null', index=False, header=False)

one,1,2,3.0,4,Null
two,5,6,Null,8,world
three,9,10,11.0,12,foo

In [19]:
# Write only a,b,c,d columns
data.to_csv(sys.stdout, columns=['a', 'b','c','d'], index=False)

a,b,c,d
1,2,3.0,4
5,6,,8
9,10,11.0,12

In [20]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv(sys.stdout, header=False)

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [21]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [22]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

header, values = lines[0], lines[1:]
print(values)
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

[['1', '2', '3'], ['1', '2', '3']]

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [23]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(open('examples/ex7.csv'), dialect=my_dialect)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [24]:
writer = csv.writer(sys.stdout, dialect=my_dialect)
writer.writerow(('one', 'two', 'three'))
writer.writerow(('1', '2', '3'))
writer.writerow(('1', '2', '3'))

one,two,three
1,2,3
1,2,3

## JSON Data

In [25]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [26]:
import json
# Convert JSON format data to Python Object
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [27]:
# Convert Python object to JSON format
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [28]:
# Create DataFrame using JSON object
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [29]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [30]:
# Convert DataFrame to JSON
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [31]:
# Convert DataFrame to JSON, each row as one dictionary item in a list
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [32]:
from io import StringIO
from lxml import objectify
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
print(root.get('href'))
print(root.text)

http://www.google.com
Google

In [33]:
frame = pd.read_csv('examples/ex1.csv')
frame.to_pickle('examples/frame_pickle')
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [34]:
frame.to_excel('examples/ex2.xlsx')

In [35]:
frame = pd.read_excel('examples/ex2.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [36]:
xlsx = pd.ExcelFile('examples/ex2.xlsx')
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [37]:
writer = pd.ExcelWriter('examples/ex1.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

## Interactive with Web Requests

In [38]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [39]:
data = resp.json()
data[0]['title']

'REF: move Series-specific methods from NDFrame'

In [40]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,40776,REF: move Series-specific methods from NDFrame,[],open
1,40775,TYP/CLN: factorize_from_iterable(s),[],open
2,40774,QST: Why does reading CSV dates return datetim...,"[{'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOT...",open
3,40773,STY: remove --keep-runtime-typing from pyupgrade,[],open
4,40772,TYP: lib.pyi,[],open
...,...,...,...,...
25,40746,ENH: Set column to work for datetimes for Xlsx...,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
26,40745,CLN: create core Styler rendering functions an...,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
27,40744,TYP: indexes,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
28,40740,ENH: LogicalSlice object,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
29,40739,Backport PR #40718 on branch 1.2.x (COMPAT: ma...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open

## Interactive with Databses

In [41]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"""
con = sqlite3.connect('examples/mydata.sqlite')
con.execute(query)

In [42]:
con.commit()

In [43]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?);'
con.executemany(stmt, data)
con.commit()

In [44]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [45]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [46]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
con.close()

In [47]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///examples/mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5