# Notebook Instructions

1. If you are new to Jupyter notebooks, please go through this introductory manual <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank">here</a>.
1. Any changes made in this notebook would be lost after you close the browser window. **You can download the notebook to save your work on your PC.**
1. Before running this notebook on your local PC:<br>
i.  You need to set up a Python environment and the relevant packages on your local PC. To do so, go through the section on "**Run Codes Locally on Your Machine**" in the course.<br>
ii. You need to **download the zip file available in the last unit** of this course. The zip file contains the data files and/or python modules that might be required to run this notebook.

## Importing data from Yahoo finance

To fetch data from Yahoo finance, you need to first pip install yfinance. The 'pip' command is a tool for installing and managing Python packages.

!pip install yfinance

You can fetch data from Yahoo finance using the `download` method.

In [1]:
import yfinance as yf
data = yf.download('AAPL', start="2017-01-01", end="2017-04-30")
data.head()

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2017-01-03 00:00:00+00:00,26.891962,29.037500,29.082500,28.690001,28.950001,115127600
2017-01-04 00:00:00+00:00,26.861860,29.004999,29.127501,28.937500,28.962500,84472400
2017-01-05 00:00:00+00:00,26.998463,29.152500,29.215000,28.952499,28.980000,88774400
2017-01-06 00:00:00+00:00,27.299452,29.477501,29.540001,29.117500,29.195000,127007600
2017-01-09 00:00:00+00:00,27.549494,29.747499,29.857500,29.485001,29.487499,134247600

<font color="red">Note:</font>  Refer to this link for more alternative sources, fundamental data, futures and options data: https://blog.quantinsti.com/stock-market-data-analysis-python/

In the upcoming IPython notebook, we will learn about <b>Importing data from our local machine</b>.

Till then, get ready to solve some exercises. <br><br>